<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.project.mappers.AllwaiserMapper">
	<select id="selectMylist" resultType="User">
		SELECT ${user.uno}, ${user.userid}, ${user.username}, ${user.pf_photo} FROM ${tbl_user}
		WHERE ${user.uno} IN (
			SELECT ${allwaiser.allwaiseruno} FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno})
		ORDER BY ${user.username}
	</select>
	
	<select id="countMyList" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ${tbl_user} 
		WHERE ${user.uno} IN (
			SELECT ${allwaiser.allwaiseruno} FROM ${tbl_allwaiser} 
			WHERE ${allwaiser.uno} = #{uno}
		)
	</select>
	
	<select id="selectMyOne" resultType="User">
		SELECT ${user.uno}, ${user.userid}, ${user.username}, ${user.pf_photo} 
		FROM ${tbl_user} 
		WHERE INSTR(${user.username}, #{userName}) > 0 
		AND 
		${user.uno} IN (
			SELECT ${allwaiser.allwaiseruno} FROM ${tbl_allwaiser} 
			WHERE ${allwaiser.uno} = #{uno})
	</select>
	
	<insert id="followAllwaiser">
		INSERT INTO ${tbl_allwaiser} (${allwaiser.uno}, ${allwaiser.allwaiseruno}) 
		VALUES (#{uno}, #{allwaiser_uno})
	</insert>
	
	<delete id="unfollowAllwaiser">
		DELETE FROM ${tbl_allwaiser} 
		WHERE ${allwaiser.uno} = #{uno} AND ${allwaiser.allwaiseruno} = #{allwaiser_uno}
	</delete>

</mapper>