<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.spring.project.mappers.BoardMapper">
	<!-- 내가 쓴 글 모두 가져오기(10개씩)-->
	<select id="selectMyAll" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE ${board.uno} = #{uno}
		ORDER BY ${board.bno} DESC
		LIMIT #{start}, 10
	</select>
	
	<!-- 내가 쓴 글 모두 가져온 개수 -->
	<select id="countMyAll" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ${tbl_board} WHERE ${board.uno} = #{uno}
	</select>
	
	<!-- 내가 쓴 글 + 친구가 작성한 전체/친구공개 글 + 그 외 전체공개 글 가져오기 -->
	<select id="selectAllBoard" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE
		${board.uno} = #{uno}
		OR 
		(${board.uno} IN (
			SELECT ${allwaiser.allwaiseruno}
			FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno}) 
		AND (${board.privacy_bounds} = 0 OR ${board.privacy_bounds} = 1))
		OR
		(${board.privacy_bounds} = 0)
		ORDER BY ${board.bno} DESC
		LIMIT #{start}, 10
	</select>
	
	<!-- 내가 쓴 글 + 친구가 작성한 전체/친구공개 글 + 그 외 전체공개 글 개수
	<select id="countAllBoard" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ${tbl_board}
		WHERE
		${board.uno} = #{uno}
		OR 
		(${board.uno} IN (
			SELECT ${allwaiser.allwaiseruno}
			FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno}) 
		AND (${board.privacy_bounds} = 0 OR ${board.privacy_bounds} = 1))
		OR
		(${board.privacy_bounds} = 0)
	</select>
	 -->
	
	<!-- 내가 추가한 즐겨찾기 게시물 가져오기 -->
	<select id="selectMyFavorite" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE ${board.bno} IN
		(SELECT ${favorite.bno} FROM ${tbl_favorite} WHERE ${favorite.uno} = #{uno})
		AND
		(${board.privacy_bounds} = 0 OR ${board.privacy_bounds} = 1)
		ORDER BY ${board.bno} DESC 
		LIMIT #{start}, 10
	</select>
	
	<!-- 내가 추가한 즐겨찾기 게시물 갯수 -->
	<select id="countMyFavorite" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ${tbl_board}
		WHERE ${board.bno} IN
		(SELECT ${favorite.bno} FROM ${tbl_favorite} WHERE ${favorite.uno} = #{uno})
		AND (${board.privacy_bounds} = 0 OR ${board.privacy_bounds} = 1)
	</select>
	
	<!-- 내가 추가한 친구의 전체/친구공개 게시물 가져오기 -->
	<select id="selectMyAllwaisersPost" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE ${board.uno} IN (
			SELECT ${allwaiser.allwaiseruno}
			FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno})
		AND (${board.privacy_bounds} = 0 OR ${board.privacy_bounds} = 1)
		ORDER BY ${board.bno} DESC
		LIMIT #{start}, 10
	</select>
	
	<!-- 내가 추가한 친구의 전체/친구공개 게시물 갯수 -->
	<select id="countMyAllwaisersPost" resultType="java.lang.Integer">
		SELECT COUNT(*) AS COUNT FROM ${tbl_board}
		WHERE ${board.uno} IN (
			SELECT ${allwaiser.allwaiseruno}
			FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno})
		AND (${board.privacy_bounds} = 0 OR ${board.privacy_bounds} = 1)
	</select>
	
	<!-- 타임라인(내가 쓴 글 + 내가 추가한 친구의 전체/친구공개 게시물) 가져오기 -->
	<select id="selectMyAndAllwaisersPost" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE ${board.uno} = #{uno}
		OR
		${board.uno} IN (
			SELECT ${allwaiser.allwaiseruno}
			FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno})
		ORDER BY ${board.bno} DESC
		LIMIT #{start}, 10
	</select>
	
	<!-- 내가 쓴 글 + 내가 추가한 친구의 전체/친구공개 게시물 갯수
	<select id="countMyAndAllwaisersPost" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM ${tbl_board}
		WHERE ${board.uno} = #{uno}
		OR
		${board.uno} IN (
			SELECT ${allwaiser.allwaiseruno}
			FROM ${tbl_allwaiser}
			WHERE ${allwaiser.uno} = #{uno})
	</select>
	 -->
	
	<!-- 게시글 자세히 보기 -->
	<select id="selectByBno" resultType="Board">
		SELECT * FROM ${tbl_board} WHERE ${board.bno} = #{bno}
	</select>
	
	<!-- keyword 로  검색 -->
	<select id="searchByKeyword" resultType="Board">
		SELECT * FROM ${tbl_board} WHERE
		<if test="type==1">
			${board.bno} IN (
				SELECT ${board.bno}
				FROM ${tbl_board}
				WHERE INSTR(${board.content}, #{keyword}) > 0)
		</if>
		<if test="type==2">
			${board.bno} IN (
				SELECT ${board.bno}
				FROM ${tbl_board}
				WHERE INSTR(${board.userid}, #{keyword}) > 0)
		</if>
		<if test="type==3">
			${board.bno} IN (
				SELECT ${board.bno}
				FROM ${tbl_board}
				WHERE INSTR(${board.hashtag}, #{keyword}) > 0)
		</if>
		AND
		(${board.privacy_bounds} = 0)
		ORDER BY ${board.bno} DESC
		LIMIT #{start}, 10
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="createBoard">
		INSERT INTO ${tbl_board}
		(${board.uno}, ${board.userid}, ${board.content},
		${board.privacy_bounds}, ${board.photo}, ${board.pf_photo})
		VALUES (#{uno}, #{userId}, #{content}, #{privacy_bounds}, #{photo},
		(SELECT ${user.pf_photo} FROM ${tbl_user} WHERE ${user.uno} = #{uno}))
	</insert>
	
	<!-- 프로필 사진 변경시 board의 프로필 사진 변경 -->
	<update id="changeProfile">
		UPDATE ${tbl_board}
		SET
		${board.pf_photo} = (
			SELECT ${user.pf_photo} FROM ${tbl_user} WHERE ${user.uno} = #{uno})
		WHERE ${board.uno} = #{uno}
	</update>
	
	<!-- 게시글 수정(사진 빠짐) -->
	<update id="updateBoard">
		UPDATE ${tbl_board}
		SET
		${board.content} = #{content},
		${board.privacy_bounds} = #{privacy_bounds}
		WHERE ${board.bno} = #{bno}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		DELETE FROM ${tbl_board} WHERE ${board.bno} = #{bno}
	</delete>
</mapper>