@charset "UTF-8";


.boardInsertForm{
	background-color: #ffffff;
	margin-bottom: 8px;
}

.boardInsertTitle{
	border-bottom: solid 1px #f1f1f1;
	padding: 8px;
	color: gray;
	margin-bottom: 8px;
}

#boardInsertcontent{
	resize: none;
	border: 0;
	float: right;
	width: 90%;
	margin-right: 8px;
}

#InsertprofileImg{
	float: left;
	width: 7%;
	margin-left: 8px;
	margin-bottom: 8px;
}

.boardTail{
	border-top: solid 1px #f1f1f1;
	margin-top: 8xp;
}

.addImg{
	margin: 8px;
	padding: 5px;
	vertical-align: middle;	
}

#privacyBounds{
	margin: 8px;
	padding: 5px;
	vertical-align: middle;
	float:right;
}

#boardUploadBtn{
	margin: 8px;
	padding: 5px;
	vertical-align: middle;
	float:right;
}

/*board Item*/
.boardItem{
	background-color: #ffffff;
}

details{
	margin-left: 8px;
}

.boardItemHead{
	margin-bottom: 8px;
}

.boardTail{
	border-top: solid 1px #f1f1f1;
	border-bottom: solid 1px #f1f1f1;
}

.replyItem{
	background-color: #ffffff;
}

#replyInsertForm{
	background-color: #ffffff;
	border-bottom: solid 1px #f1f1f1;
}

.replyArea{
	margin-bottom: 8px;
}


/* details{
	display: inline-block;
	margin-left: -40px;
} */

.replyInsertContent{
	resize: none;
	border: 0;
	float: right;
	width: 90%;
	margin-right: 8px;
}

.replyProfileImg{
	float: left;
	width: 5%;
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	
}

.replyContent{
	resize: none;
	border: 0;
	float: right;
	width: 90%;
	margin-right: 8px;
	margin-bottom: 4px;
}

.replyUpdate{
	padding: 0px;
}

.replyDelete{
	padding: 0px;
}
